body {
    background-color: bisque
}
.btn {
    padding: 15px;
    margin-left:  5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
      width: 100%;
    }
  }
